body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.8); /* 半透明背景 */
  border-radius: 15px; /* 圆角 */
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
}

h1 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hidden {
  display: none;
}

input[type='text'] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

#toggleButton {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

#status {
  color: red;
}
